.scrollHeader {
    position: fixed;
    right: 0;
    width: 5vh;
    padding: 0 5px;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    z-index: 9;
      h1 {
        position: relative;
        align-self: flex-end;
        font-size: 4.5vh;
        transform: rotate(-90deg);
        animation: 20s scrollAnimation infinite;
        animation-timing-function: linear;
        white-space: nowrap;
        width: 100%;
    }
  }
  
  @keyframes scrollAnimation {
    0% {
      transform: rotate(-90deg) translateX(0vh);
    }
    100% {
      transform: rotate(-90deg) translateX(-100vh);
    }
  }