@import './colors.scss';

@font-face {
    font-family: Agrandir;
    src: url('/fonts/PP Agrandir/PPAgrandir-Regular.otf');
}

@font-face {
    font-family: Inter;
    src: url('/fonts/Inter/Inter-Regular.ttf');
}

h1 {
    font-family: Agrandir;
    color: $fontCol;
    font-size: 2em;
}

li {
    font-family: Inter;
}